
#head-title
{
	text-align: center;
	width: 60%;
	margin-left: 20%;
}
h1
{
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 50px;
	background: #ededed;
	box-shadow: 2px 2px 3px 3px #c5c5c5,-2px -2px 3px 3px #FFF;
}
body
{
	background-color:#ededed;
}
#body-main
{
	margin-top: 20px;
	text-align: center;
	width: 50%;
	height: 100%;
	margin-left: 25%;
	box-shadow: 0px 0px 5px 5px #c5c5c5;
	border-radius: 25px;
}
#body-main-1
{
	background-image: linear-gradient(to right ,#e66465,#9198e5);
	text-align: center;
	width: 100%;
	height: 30px;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 0px 2px 2px #c5c5c5;
	animation: background-image 5s;
}
#body-main-1:hover
{
	animation: color 5s;
}
ul
{
	list-style: none;
}
a
{
	text-decoration: none;
	padding: 5px;
	width: 90%;
	display: block;
	box-shadow: 2px 2px 2px 2px #c5c5c5,-2px -2px 2px 2px #fff;
	margin-bottom: 15px;
	border-radius: 20px;
}
a:focus
{
	animation: first 0.5s;
}
@keyframes first
{
	50%{background: #ededed;
	width: 90%;
	display: block;
	box-shadow: -2px -2px 2px 2px #c5c5c5, 2px 2px 2px 2px #fff;
	border-radius: 20px;}
}
@keyframes color
{
	50%{background-image: linear-gradient(to right ,#e66465,#9198e9);
	text-align: center;
	width: 100%;
	height: 30px;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 0px 2px 2px #c5c5c5;}
}
